.page__account-settings {
  .form-group {
    margin-bottom: 1.5rem;
  }

  h6,
  .h6 {
    margin-bottom: 0.25rem;
  }

  .btn-link {
    line-height: 1.2;
    border: none;
    padding: 0;
    display: inline-block;
  }

  .jump-nav-sm {
    top: 1rem;
  }

  .jump-nav {
    li {
      margin-bottom: 0.5rem;

      a {
        text-decoration: underline;
      }
    }
  }

  .custom-switch {
    padding: 0;
    max-width: 500px;

    .custom-control-label {
      left: 2.25rem;
      line-height: 1.6rem;
    }
  }
  .grayed-out {
    opacity: 0.6; /* Real browsers */
    filter: alpha(opacity = 60); /* MSIE */
  }
}
// Mubeen Code
.accountWrap {
  .account-section {
    margin-bottom: 64px !important;
    .form-group {
      .text-truncate {
        button.btn-link {
          background-color: transparent !important;
          border: 0 !important;
          padding: 0 !important;
          color: #111827 !important;
        }
      }
    }
  }
  &__list {
    li {
      &.font-weight-bold {
        .active {
          background-color: #f3f3f3 !important;
          border-radius: 6px;
        }
      }
      a {
        color: #111827 !important;
        &:hover {
          border-radius: 6px;
          background-color: #f3f3f3 !important;
        }
      }
    }
  }
  .pgn {
    &-transition {
      &-replace {
        &-group {
          border: 1px solid #f3f3f3 !important;
          padding: 16px !important;
          border-left: 8px solid #f3f3f3 !important;
          border-radius: 8px;
          .small.text-muted,
          .pgn__form-text-default {
            background: #f3f3f3 !important;
          }
          .form-group {
            button.btn-link {
              background-color: #4600c7 !important;
              border: 1px solid #4600c7 !important;
              border-radius: 6px !important;
              padding: 8px 14px !important;
            }
          }
          .pgn__stateful-btn {
            background-color: #4600c7 !important;
            border: 1px solid #4600c7 !important;
            border-radius: 6px !important;
            padding: 8px 14px !important;
          }
          .btn-outline-primary {
            border: 1px solid #d1d5db !important;
            color: #111827 !important;
            padding: 8px 14px !important;
            border-radius: 6px !important;
          }
          + .form-group p button.btn-link {
            color: #111827 !important;
          }
        }
      }
    }
  }
  #delete-account {
    button.btn-outline-danger {
      padding: 8px 14px !important;
      &:hover {
        background-color: #f3f3f3;
      }
    }
    a.standalone-link {
      color: #111827;
    }
  }
}
